


@using Kendo.Mvc.UI
@using Kendo.Mvc.UI.Html
@model IEnumerable<WebApp.Models.Category>



@{
    ViewBag.Title = "Category";
}


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Category
                <small>Index</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  @Html.ActionLink("Home", "Index", "Home")
                </li>
                 
                <li class="active">
                    <i class="fa fa-file"></i> Categories
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
     <div class="row">
        <div class="col-lg-12">
             
     @(Html.Kendo().Grid<WebApp.Models.Product>()
        .Name("Categories")
        .Columns(columns =>
        {
            columns.Command(command => {
                command.Edit();
                command.Destroy();
                command.Custom("Detail").Click("showDetail");
            });
					       			   //主键列
			   columns.Bound(col => col.Id);
			   					       			   columns.Bound(col => col.Name);
			   			             
        })
       .ToolBar(toolBar =>
                {
                   toolBar.Create();
                   toolBar.Excel();
                })
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .Filterable()
        .Groupable()
        .Pageable()
        .Scrollable()
        .ColumnMenu()
        .Sortable()
        .HtmlAttributes(new { style = "height:540px;" })
				.ClientDetailTemplateId("detailtemplate")
		        .DataSource(dataSource => dataSource
            .Ajax()
            .Events(events => events.Error("errorHandler"))
			.PageSize(20)
            .Model(model =>
            {
															//主键列
						model.Id(p => p.Id);
						model.Field(p => p.Id).Editable(false);
				   			   											model.Field(p => p.Name) ;
				   			               })
			.Sort(sort =>
			 {
				sort.Add(p => p.Id).Descending();
			 })
            .Read(read => read.Action("GridRead", "Categories"))
            .Create(create => create.Action("GridCreate", "Categories"))
            .Update(update => update.Action("GridUpdate", "Categories"))
            .Destroy(delete => delete.Action("GridDelete", "Categories"))
        )
                
    )
       
		

				<!--内嵌明细表-->
		<script id="detailtemplate" type="text/kendo-tmpl">
            @(Html.Kendo().TabStrip()
            .Name("tabStrip_#=Id#")
            .SelectedIndex(0)
            .Animation(animation => animation.Open(open => open.SlideIn(SlideDirection.Left)))
            .Items(items =>
            {
				 				 //tabs
				 items.Add().Text("Products").Content(@<text>
                            @(Html.Kendo().Grid<WebApp.Models.Product>()
                               .Name("Products_#=Id#")
                               .Columns(columns =>
                               {
							         																															columns.Bound(col => col.Id);
																																																		columns.Bound(col => col.Name);
																																																		columns.Bound(col => col.Unit);
																																																		columns.Bound(col => col.UnitPrice);
																																																		columns.Bound(col => col.StockQty);
																																																		//日期类型列
											columns.Bound(col => col.ConfirmDateTime).Format("{0:yyyy-MM-dd}");
																													                                     
                                })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(10)
                                    .Read(read => read.Action("ReadProductsWithCategoryId", "Categories", new { categoryid = "#=Id#" }))
                                )
                                .Pageable()
                                .Sortable()
                                .ToClientTemplate()
                                )
                            </text>
                    );



				
            })
            .ToClientTemplate())
            </script>

		<!--内嵌明细表--> 
		
        </div>
    </div>

	 
</div>
@section Scripts {
    <script type="text/javascript">
         function errorHandler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
		function showDetail(e) {
			e.preventDefault();
			//console.log(e.target, this);
			var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
			var id = dataItem.Id;
			//console.log(dataItem.Id);
			window.location.href = "@Url.Action("Edit","Categories")" + "/" + id;
		}
        $(document).ready(function (e) {

		});
     </script>
}

